<nav class="navbar navbar-expand-lg shadow rounded">
  <a class="navbar-brand" href="#">Noxe</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/home']">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" [routerLink]="['/about']">About <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" [routerLink]="['/movies']">Movies <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" [routerLink]="['/tv']">Tv Showes <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/network']">Network</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/people']">   People</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    </form>
    <div class="social-icons">
      <i class="fab fa-facebook"></i>
      <i class="fab fa-twitter"></i>
      <i class="fab fa-youtube"></i>
      <i class="fab fa-instagram"></i>

    </div>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/login']">login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/register']">   register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/login']">   logout</a>
        </li>
      </ul>



  </div>
</nav>
