@import '../../styles.scss';
.navbar{
  background-color:$bgColor;
  color:$fontColor;
}
.navbar-nav .nav-link{
color: #ffffffde;
font-size: 18px;
}
.navbar-brand{
font-weight: bold;
color:$fontColor ;
}
.social-icons i{
  margin: 5px 9px;
}
