/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300&display=swap');

$bgColor:#131722;
$lightBgColor:#24baef;
$bgTransparent:rgba(36,186,239,.6) ;
$fontColor:#fff;
$borderColor:#a8a8a83d;
$borderHeight:1px;
$secondFontColor:#949cb0;
body{
  font-family: 'Montserrat Alternates',sans-serif;
  background-color:$bgColor;
  color: $fontColor;
  background-image: url('assets/images/BackGround.28d0a335.jpg');
}
.shadow{
  box-shadow: 0 0.6rem 1rem rgb(0 0 0 / 15%) !important;
}
.layer{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: .9;
  background-image: linear-gradient(
    0deg
    , #000 0, rgb(0 0 0 / 79%) 60%, #000);
z-index: -1;
}
.form-control.invalid {
  border-color: #dc3545;
  padding-right: calc(1.5em + .75rem);
  background-image: url('assets/images/err.svg');
  background-repeat: no-repeat;
  background-position: right calc(.375em + .1875rem) center;
  background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}
textarea.form-control.invalid{
  background-position: top calc(.375em + .1875rem) right calc(.375em + .1875rem);
}
.invaild-feedback{
  text-transform: capitalize;
  color: #dc3545;
  font-weight: bold;
  margin-top: 6px;
}

