<div class="container">
    <div class="row py-5">
        <div class="col-md-4">

        </div>
        <div *ngFor="let movie of trendingMovies" class="col-md-2">
            <img class="w-100" [src]="imgPrefix  + movie.poster_path"  [alt]="movie.title"/>
            <h6>{{movie.title}}</h6>
        </div>

    </div>

</div>