<div class="w-50 m-auto py-5">
    <form [formGroup]='registerForm' (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="first_name"> First Name :</label>
            <input formControlName="first_name" type="text" class="form-control "  id="first_name"  placeholder="Enter Fist Name">
            <!-- <div class="invaild-feedback" >
                  title is required
             
    
              </div> -->
        </div>
      <div class="txt-valid" *ngIf=" registerForm.get('first_name')?.invalid && (registerForm.get('first_name')?.dirty ||registerForm.get('first_name')?.touched)">
          <small
            class="form-text text-danger"
            *ngIf="registerForm.get('first_name')?.errors?.required"
          >
          first name is required
          </small>
          <small
          class="form-text text-danger"
          *ngIf="registerForm.get('first_name')?.errors?.minlength"
        >
        first name is minLength 3
        </small>
        <small
        class="form-text text-danger"
        *ngIf="registerForm.get('first_name')?.errors?.maxlength"
      >
      first name is maxLength 10
      </small>
          </div>
          <div class="form-group">
            <label for="last_name"> Last Name :</label>
            <input formControlName="last_name" type="text" class="form-control"  id="last_name"  placeholder="Enter Fist Name">
          </div>
        <div class="form-group">
          <label for="email">Email address</label>
          <input formControlName="email" type="email" class="form-control"  id="email" aria-describedby="emailHelp" placeholder="Enter email">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input formControlName="password" type="password" class="form-control" id="password" placeholder="Enter  Password">
        </div>
        <div class="form-group">
            <label for="age">age</label>
            <input formControlName="age" type="number" class="form-control" id="age" placeholder="Enter Age">
          </div>

        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
</div>
